:root {
  --big: 4.8rem;
  --md: 3.4rem;
  --std: 1.4rem;
  --gray: #666666;
  --lightgrey: #f7f9fa;
  --dark: #203B6A;
  --black: #333;
  --white: white;
  --bg-dark: #4685cd;
}

* {
  box-sizing: border-box;
}

html {
  font-size:  62.5%; /* 1rem = 10px */
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

.header {
  display: flex;
  justify-content: space-around;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  height: 10.7rem;
  background: var(--white);
}

.header div,
.header nav {
  width: 100%;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img{
  margin: 0.5rem;
  height: 10rem;
  margin-right: 1rem;
}

.nav__menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav__menu a {
  font-size: 1.6rem;
  padding: 0 1.7rem;
}
.nav__link {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

header .header__icons__container {
  width: 50%;
  height: 10rem;
  display: grid;
  background-color: white;
}

header .header__icons__container .icons {
  width: 15rem;
  height: center;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 1rem;
}

header .icons span {
  color:  #e3a72f;
}
.hero {
  color: var(--white);
  background-color: var(--bg-dark);
  height: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content {
  width: 104rem;
  /*margin: 0 auto;*/
  /*width: 52rem;*/
}

.hero___content div {
  width: 46rem;
  padding: 3rem;
}

.hero h1 {
  font-size: var(--big);
  margin: 0 0 2rem 0;
}

.hero p {
  font-size: 2rem;
  margin: 0 0 3.5rem 0;
}

.hero button {
  font-size: 1.4rem;
  border: none;
  border-radius: 5rem;
  padding: 1rem 4rem;
  text-align: center;
  color: var(--white);
  font-weight: bold;
  background-color: #e3a72f;
}

/* about section */

.about {
  display: flex;
  justify-content: center;
  min-height: 44rem;
}

.about__wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 2.5rem;
}

.photo__gallery,
.about__content {
  width: 45%;
  padding: 1.5rem;
} 

.photo__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: .5rem;
  padding: 2rem;
}

.photo__gallery div:first-child {
  grid-column: 1 / 2;
  grid-row: span 2;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}

.photo__gallery div:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}

.photo__gallery div:last-child {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}

.about__content h2 {
  font-size: var(--md);
  margin-top: 0;
  color: var(--dark);
}

.about__content figure {
  margin: 0;
  color: var(--black);
}

.about__content figure > * {
  font-size: 2rem;
  margin: 0;
}

.about__content p {
  font-size: var(--std);
  color: var(--gray);
  line-height: 2.4rem;
}


/* features */
.features {
  background-color: var(--lightgrey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features h2 {
  /*text-align: center;*/
  font-size: var(--md);
  color: var(--dark);
}

.fetaures__container {
  max-width: 102rem;
}

.fetaures__container div {
  display: flex;
  flex-wrap: wrap;
  /*align-content: center;*/
}

.feature {
  width: 33.33%;
  padding: 1.5rem 4rem;
}

.feature h3 {
  color: var(--black);
  font-size: 2rem;
}

.feature p {
  color: var(--gray);
  line-height: 2.4rem;
  font-size: var(--std);
}

/* offers */
.offers {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  background-color: var(--bg-dark);
  color: var(--white);
  height: auto;
  padding: 3rem 0;
}

.offers__container {
  width: 104rem
}

.offers__container div {
  width: 50%;
}

.offers__container h2 {
  font-size: var(--md);
}

.offers__container p {
  font-size: 2rem;
}

.offers__container button {
  padding: 1rem 4rem;
  font-size: var(--std);
  color: var(--dark);
  font-weight: bold;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}

/* contact form */
.contact h2 {
  font-size: var(--md);
  color: var(--gray);
  text-align: center;
}

.contact p {
  color: var(--gray);
  font-size: 20px;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 52rem;
}

form h3 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--black);
}

.form__link button{
  width: 100%;
  font-size: 1.4rem;
  border: none;
  border-radius: 5rem;
  padding: 1rem 4rem;
  text-align: center;
  color: var(--white);
  font-weight: bold;
  background-color: #e3a72f;
}

.footer-copyright{
  width: 100%;
  font-size: 12px;
  text-align: center;
}